################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/DESAFIO-MOVISIS/bin/Debug/net8.0-android
/DESAFIO-MOVISIS/obj
/DESAFIO-MOVISIS/.vs/DESAFIO-MOVISIS/FileContentIndex
/DESAFIO-MOVISIS/.vs/DESAFIO-MOVISIS/v17/TestStore/0
/Api-Lembrete/bin/Debug/net8.0
/Api-Lembrete/obj
/Data-Api/bin/Debug/net8.0
/Data-Api/obj
/Negocio-Api/obj
/Negocio-Api/bin/Debug/net8.0
/DESAFIO-MOVISIS/.vs/DESAFIO-MOVISIS/DesignTimeBuild/.dtbcache.v2
/Dados-App/obj
/Api-Lembrete/.vs/Api-Lembrete/v17
/Api-Lembrete/.vs/Api-Lembrete/FileContentIndex
/Api-Lembrete/.vs/Api-Lembrete/DesignTimeBuild
/AppTestes/bin/Debug/net8.0
/AppTestes/obj
/DESAFIO-MOVISIS/bin/Debug/net8.0-ios/iossimulator-x64
/Negocio-App/obj
/Negocio-App/bin/Debug/net8.0
/Dados-App/bin/Debug/net8.0/Dados-App.dll
/Dados-App/bin/Debug/net8.0/Dados-App.pdb
/DESAFIO-MOVISIS/.vs/DESAFIO-MOVISIS/v17/.futdcache.v2
/DESAFIO-MOVISIS/.vs/DESAFIO-MOVISIS/v17/.suo
/DESAFIO-MOVISIS/.vs/DESAFIO-MOVISIS/v17/DocumentLayout.backup.json
/DESAFIO-MOVISIS/.vs/DESAFIO-MOVISIS/v17/DocumentLayout.json
/DESAFIO-MOVISIS/.vs/ProjectEvaluation
